.signupFormContainer{
    background: #FFD3B4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.signupFormContainer>article {
  cursor: unset;
  width: 40vw;
  height: 40vh;
  padding: 2rem;
  background-color: white;
  box-shadow: 2px 12px 17px -7px #383838bb;
  border-radius: 15px;
  display: flex;
}

.signupFormContainer>article>nav{
  width: 30%;
  border-right: 1px solid gray;
  display: flex;
  align-items: center;
  font-size: 150%;
  letter-spacing: 0.2rem;
}

.signupFormContainer>article>section{
  display: flex;
  flex-direction: column;
  padding: 0 0 0 2rem;
  width: 70%;
  justify-content: space-evenly;
}

.signupFormContainer>article>section>p{
  margin: 1vh 0 0 0 ;
  font-size: 77%;
}

.signupFormContainer>article>section>input {
  font-size: 80%;
  box-sizing: border-box;
  border: 1px solid rgb(180, 180, 180);
  height: 4vh;
  padding: 0.3vh 1vw;
  border-radius: 4px;
}

.signupFormContainer>article>section>input:focus {
  outline: none;
}

.sinupButton{
  margin-top: 1.2vh;
  height: 4.1vh;
  display: flex;
  justify-content: center;
}

.sinupButton>button {
  width: 35%;
  border: none;
  border-radius: 5px;
  font-size: 80%;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0 5%;
}

.sinupButton>button:first-child{
  background: #D5ECC2;
}

.sinupButton>button:first-child:hover{
  background: #FFAAA7;
}

.sinupButton>button:last-child:hover{
  background: #404040;
  color: white;
}
