.major-item{
    background-color: #D5ECC2;
    height: 100%;
    width: 6vw;
    position: absolute;
    left: 0;
}

.major-item-list{
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 6vw;
    border-bottom: 1.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vmin;
    color: rgb(190, 190, 190);
}

.major-item-list:last-child{
    position: absolute;
    bottom: 0;
    border-bottom: none;
    border-top: 1.5px solid white;
}

.post-color{
    background-color: #E1F4E3;
}

.minor-item{
    background-color: #E1F4E3;
    height: 100%;
    width: 18vw;
    position: absolute;
    left:6vw;
    padding: 0 1vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.minor-item::-webkit-scrollbar{
    display:none;
}

.minor-item>h3{
    margin: 45px 0 12px 0;
    color: #447566;
    font-size: 2.4vmin;
}

.minor-item>h3:first-child{
    margin-top: 12px;
}

.minor-item>input{
    width: 16vw;
    padding: 0 1vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    box-shadow: 0.05rem 0.05rem 0.05rem rgba(128, 128, 128, 0.746);

}

.minor-item>textarea{
    padding: 1vh 1vw;
    border: none;
    border-radius: 5px;
    box-shadow: 0.05rem 0.05rem 0.05rem rgba(128, 128, 128, 0.746);
}

.minor-item>select{
    width: 18vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    text-align: left;
    padding: 0 1vw;
    box-shadow: 0.05rem 0.05rem 0.05rem rgba(128, 128, 128, 0.746);
    appearance: none;
}

.new-post-tittle{
    margin-bottom: 1vh;
    font-size: 2.1vmin;
}

.minor-item-row{
    width: 100%;
    padding-bottom: 3px;
    margin: 10px 0;
    border-bottom: 2px solid white;
    font-size: 1.9vmin;
}

.minor-item-row-num{
    position: absolute;
    right: 1vw;
    width: 2.5vw;
    padding: 0.2vh 0;
    background-color: #FFD3B4;
    border-radius: 40px;
    color: rgb(54, 54, 54);
    font-size: 1.6vmin;
    text-align: center;
}

.major-item-list>input:checked ~ .new-icon-nav{
    color: #68b39d;
}

.major-item-list>input:checked ~ .new-icon-select{
    position: absolute;
    right: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid #E1F4E3;
    border-bottom: 20px solid transparent;
}

.new-post-area{
    margin-top: 3vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-post-area>button{
    border-radius: 50%;
    height: 10vmin;
    width: 10vmin;    
    font-size: 2vmin;
    border: none;
    border: 0.4vmin solid;
    overflow: hidden;
    background-color: #FFD3B4;
    border-color: #909090;
    color: #909090;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem #b1b1b1cd;
    font-weight: bold;
}

.new-post-area>button:hover {
    opacity: .9;
    box-shadow: 0 0.1rem 0 #ffffff;
}

.new-post-area>button:active {
    margin-top: 0.2em;
}

.select-tag{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 4vh;
}

.select-tag>span{
    margin-left: 0.5vw;
}

.select-tag>input{
    accent-color: #4a8a76;
}

.ranking{
    display: flex;
    justify-content: center;
    margin: 13vh 0;
    height: 100%;
    width: 100%;
}

.ranking:first-child{
    margin-top: 2vh;
}

.ranking-back,.ranking-front{
    position: absolute;
    width: 16vw;
    height: 10vh;
    transition: all 0.6s;
    backface-visibility: hidden;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0 1vw;
    box-sizing: border-box;
    display: flex;
    border: #FFD3B4 0.25vw solid;
}

.ranking-back {
    transform: rotateY(-180deg);
}

.ranking:hover .ranking-front{
    transform: rotateY(-180deg);
}
  
.ranking:hover .ranking-back{
    transform: rotateY(0deg);
} 

.ranking-front{
    display: flex;
    align-items: center;
}

.ranking-front h3,.ranking-front h4{
    margin: 0%;
    font-size: 2vmin;
}

.ranking-front h3{
    margin-right: 2vw;
    font-size: 2.5vmin;
    text-decoration: underline;
}

.star-icon{
    color: yellow;
    filter:drop-shadow(0 0 1px #000);
    margin-right: 0.3vw;
}

.ranking-front-score{
    display: flex;
    align-items: center;

}

.ranking-back{
    padding: 0.5vw;
    display: flex;
    align-items: center;
}

.ranking-icon{
    width: 8vmin;
    height: 8vmin;
    z-index: 1;
}

.ranking-icon>img{
    background-color: #D5ECC2;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 0.3vmin solid #D5ECC2;
    box-sizing: border-box;
}

.ranking-back h3{
    margin-left: 1vw;
    font-size: 2.2vmin;
}




/* 
.ranking-icon>img{
    object-fit: cover;
    border-radius: 50%;
    max-width: 100%;
    background-color: #ffffff;
    border: #FFD3B4 0.25vw solid;
}

.ranking-front>h3{
    margin: 0.3vh 0 0.7vh 0;
}

.ranking-front>h5{
    margin: 0 0 0 0.5vw;
}

*/