.new-modal{
    position: fixed;
    top: 11vh;
    left: 26vw;
    width: 73vw;
    height: 89vh;
    z-index: 1;
    background-color: rgba(90, 90, 90, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-modal-article{
    width: 50vw;
    height: 43vh;
    padding: 1vh 2vw;
    background-color: #FFD3B4;
    border-radius: 10px;
}

.new-modal-L{
    width: 60%;
}

.new-modal-R{
    width: 40%;
}

.new-modal-L>input, .new-modal-R>select{
    padding: 0 1vw;
    height: 4vh;
    border: none;
    border-radius: 5px;
    width: 72%;
}

.new-modal-R>select{
    width: 82%;
}

.new-modal-article h4{
    margin-bottom: 1vh;
}

.new-modal-cmment-area{
    display:block;
    height: 20vh;
    overflow-y: scroll;
}

.new-modal-cmment-area>input{
    padding: 0 1vw;
    margin: 5px;
    height: 4vh;
    width: 90%;
    border: none;
    border-radius: 5px;
}

.new-modal-button-area{
    margin-top: 2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-modal-button-area>button{
    width: 15vw;
    height: 4vh;
    margin: 0 3vw;
    border: none;
    border-radius: 5px;
}

.addRow{
    border:2px solid #959494;
    height:38px;
    width: 38px;
    margin:5px;
    border-radius:50%;
    background-color:#E1F4E3;
    font-size: 2vmin;
    cursor: pointer;
}