.popUpBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.popUpBack>section{
    background-color: #FFD3B4;
    padding: 1.5rem;
    width: 25%;
    border-radius: 0.5em;
    height: 50%;
    display: flex;
    flex-flow:column;
}

.popUpBack>section>h1{
    letter-spacing: 0.2rem;
    text-align: center;
    text-decoration: underline;
    margin: 2vh 0 5vh 0;
}

.popUpBack input{
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    padding: 0 0.7rem;
    margin-bottom: 4vh;
    font-size: 80%;
    letter-spacing: 0.1em;
}

.buttonArea{
    height: 3rem;
    display: flex;
    justify-content: center;
}

.buttonArea>button{
    margin: 0 2rem;
    width: 9vw;
    border-radius: 0.5em;
}

.buttonArea>button:hover{
    background-color: #98DDCA;
}
