main{
  position: absolute;
  top: 11vh;
  height: 89vh;
  width: 100vw;
}

.new-content-area{
  position: absolute;
  left: 26vw;
  width: 71vw;
  height: 89vh;
  padding-left: 3vw;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, min(320px));
  grid-template-rows:300px;
  gap: 60px 10px;
  place-items: end center;
}

.new-profile-area{
  position: absolute;
  left: 26vw;
  width: 74vw;
  height: 86vh;
  padding-top: 3vh;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.new-profile-area>div{
  width: 90%;
  height: 100%;
}

figure{
  width: 100%;
  height: 40%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  max-block-size: 75%;
}

.profile-row{
  display: flex;
  align-items:center;
  width: 100%;
  height: 16vh;
  border-radius: 5px;
  background-color: #D5ECC2;
  justify-content:left;
  margin-bottom: 5vh;
  box-shadow: 0.15rem 0.15rem 0.3rem rgba(128, 128, 128, 0.746);
}

.profile-row:nth-child(3){
  height: 30vh;
}

.profile-row:nth-child(4){
  height: 20vh;
}

.profile-row-head{
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #68b39d;
  border-radius: 5px 0 0 5px;
  font-size: 8vmin;
}

.profile-photo-before{
  width: 20%;
  height: 100%;
}

.profile-photo-after{
  width: 20%;
  height: 100%;
}

.profile-photo-button{
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: solid 1px gray;
}

.profile-photo-button>button{
  height: 8vh;
  width: 8vh;
  font-size: 4vmin;
}

.profile-photo-before>img,.profile-photo-after>img{
  height: 12vmin;
  width: 12vmin;
  object-fit: cover;
  border-radius: 50%;
  border: 0.35vmin white solid;
}

.profile-password-area{
  width: 59%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  padding: 0% 3%;
}

.profile-password-area h3{
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  font-size: 2.2vh;
}

.profile-password-area h3+input{
  margin-top: 0;
  margin-bottom: 1vh;
  height: 3.5vh;
  font-size: 2.3vh;
  padding-left: 2%;
  width: 80%;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0.05rem 0.05rem 0.05rem rgba(128, 128, 128, 0.746);
}

.profile-password-area h3+select{
  margin-top: 0;
  margin-bottom: 1vh;
  height: 3.5vh;
  font-size: 2.3vh;
  padding-left: 2%;
  width: 80%;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0.05rem 0.05rem 0.05rem rgba(128, 128, 128, 0.746);
}

.profile-password-area>div{
  display: flex;
  width: 100%;
}

.profile-password-area>div>div>h3+input{
  margin-bottom: 1vh;
  padding-left: 4%;
  width: 80%;
}

.profile-password-area>div>div{
  width: 41.5%;
  margin-right: 5%;
  height: 100%;
}

.profile-photo-icon{
  position: absolute;
  margin: 5% 0 0 10%;
  font-size: 3vmin;
  background-color: white;
  padding: 0.7vmin;
  border-radius: 5px;
  border: 2.5px solid #68b39d;
  box-sizing: border-box;
}

.hidden-butto{
  display: none;
}

.personal-icon{
  position: absolute;
  margin-top: 20vh;
  margin-left: 45.7%;
  height: 9vh;
  width: 9vh;
  border-radius: 0.3em;
  box-shadow: 0 0 0.2em gray;
}