/* main{
  position: absolute;
  top: 15vh;
  height: 85vh;
  width: 100vw;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  place-items: center;
} */

main{
  position: absolute;
  top: 11vh;
  height: 89vh;
  width: 100vw;
}

.new-content-area{
  position: absolute;
  left: 26vw;
  width: 71vw;
  height: 89vh;
  padding-left: 3vw;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, min(320px));
  grid-template-rows:300px;
  gap: 60px 10px;
  place-items: end center;
}

figure{
  width: 100%;
  height: 40%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  max-block-size: 75%;
}